:root {
  --primary: #1BA9EB;
  --primary-dark: #0d6e9b;
  --background: #0D0E13;
  --card-background: #191B24;
  --text-primary: #FFF;
  --text-secondary:rgb(146, 149, 170);
  --text-in-card: #4B4D5A;

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: url('../assets/background.png') no-repeat right top;
  background-color: var(--background);

  padding: 6.4rem;
}

header {
  width: 100%;

  display: flex;
  justify-content: center;
}

#container {
  max-width: 1100px;

  display: flex;
  margin: 6.4rem 0;
}

.card {
  max-width: 35rem;
  height: 51.6rem;

  border-radius: 1.8rem;
  background-color: var(--card-background);
}

.card .card-image {
  width: 100%;
  height: 19.6rem;

  border-radius: 2.4rem 2.4rem 0 0;
  background: url('../assets/images/vale-a-pena-utilizar-adonisjs.jpg') no-repeat center center / cover;
}

.card .card-content {
  padding: 2.4rem;
}

.card .card-content h1 {
  color: var(--text-primary);
  font: bold 2.4rem 'Roboto', sans-serif;
}

.card .card-content .description {
  margin-top: 2.4rem;
}

.card .card-content .description p {
  display: flex;
  align-items: center;

  color: var(--text-in-card);
  font: normal 1.6rem 'Roboto', sans-serif;
}

.card .card-content .description p + p {
  margin-top: 1.6rem;
}

.card .card-content .description p ion-icon {
  font-size: 2.4rem;
  margin-right: 0.8rem;
}

.card .player {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 2.4rem;
  margin-top: 2.4rem;
}

.card .player button {
  height: 4.3rem;
  width: 4.3rem;

  border: none;
  border-radius: 50%;

  color: var(--text-primary);
  background-color: var(--primary);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.3s;
}

.card .player button:hover {
  cursor: pointer;
  color: var(--primary);
  background-color: var(--text-primary);
}

.card .player button ion-icon {
  font-size: 2rem;
}

.card .player #seekbar {
  width: 100%;
  max-width: 18rem;
}

input[type="range"] {
  all: unset;
  outline: none;

  height: 0.8rem;
  border-radius: 2rem;
  background-color: var(--text-in-card);
}

#seekbar::-moz-range-thumb {
  width: 1.4rem;
  height: 1.4rem;

  border: none;
  border-radius: 50%;
  background: var(--primary);

  transform: translateY(0.05rem);
}

#seekbar::-ms-range-thumb {
  width: 1.4rem;
  height: 1.4rem;

  border: none;
  border-radius: 50%;
  background: var(--primary);

  transform: translateY(0.05rem);
}

#seekbar::-webkit-slider-thumb {
  -webkit-appearance: none; /* remove a aparencia padão */
  
  width: 1.4rem;
  height: 1.4rem;
  
  border: none;
  border-radius: 50%;
  background: var(--primary);

  transform: translateY(0.05rem);
}

.card .player a ion-icon {
  color: var(--text-in-card);
  font-size: 2.4rem;

  transition: color 0.3s;
}

.card .player a ion-icon:hover {
  color: var(--primary);
}

.episodes-list {
  margin-left: 6.4rem;
}

.episodes-list h2 {
  color: var(--text-primary);
  font: bold 2.4rem 'Roboto', sans-serif;

  margin-bottom: 3.2rem;
}

.episodes-list .episode-card {
  max-width: 68.6rem;
  max-height: 11.6rem;

  display: flex;
  align-items: center;

  border-radius: 1.8rem;
  background-color: var(--card-background);

  transition: 0.3s;
}

.episodes-list .episode-card:hover {
  cursor: pointer;
  transform: translateX(1.6rem);
}

.episodes-list .episode-card + .episode-card {
  margin-top: 2.4rem;
}

.episodes-list .episode-card .cover {
  min-width: 20.4rem;
  height: 11.6rem;

  border-radius: 1.8rem 0 0 1.8rem;
}

.episodes-list .episode-card .content {
  display: flex;
  align-items: center;

  padding: 2.4rem;
}

.episodes-list .episode-card .content h3 {
  max-width: 80%;

  color: var(--text-secondary);
  font: 500 2rem 'Roboto', sans-serif;
}

.episodes-list .episode-card .content a ion-icon {
  color: var(--text-in-card);
  font-size: 2.4rem;

  margin-left: 4.1rem;
}

@media (max-width: 1100px) {
  .episodes-list .episode-card {
    max-width: 35rem;
    max-height: 50rem;

    flex-direction: column;
  }

  .episodes-list .episode-card .cover {
    min-width: 100%;
    height: 16.875rem;
  
    border-radius: 1.8rem 1.8rem 0 0;
  }
}

@media (max-width: 700px) {
  :root {
    font-size: 60%;
  }

  body {
    padding: 3.2rem;
  }

  #container {
    flex-direction: column;
    justify-content: center;

    margin: 6.4rem 0;
  }

  .episodes-list {
    margin: 6.4rem 0;
  }
}